extend layout 

block content 



    h1= title
    //- p Welcome to #{title}
    .home
    h1 Welcome to Our Website
    p
      | Thank you for visiting our website. We are dedicated to providing high-quality services to our clients.
